__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
.env.*
!.env.example
.vercel/

*.sqlite3
db.sqlite3
app/db.sqlite3

staticfiles/
media/
outputs/
*.log
app/demo/

.ipynb_checkpoints/
*.ipynb
*.csv

nul
.DS_Store
